@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  &_name {
    display: block;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
  }
  &_icon {
    margin-left: 8px;
    font-size: 16px;
  }
}
